<%- include('../partials/header')  %> 

<%- include ('../partials/main_nav') %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Student Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Student Name"
                    name="name" 
                    value="<%= student.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextField">Email Address</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the email address"
                    name="email" 
                    value="<%= student.email %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateTextField">Password</label>
                    <input type="password" class="form-control"
                    id="passwordTextField"
                    placeholder="Enter the password"
                    name="password" 
                    value="<%= student.password %>"
                    required>
                </div>
                
                <div class="form-group">
                    <label for="dateTextField">Phone</label>
                    <input type="text" class="form-control"
                    id="phoneTextField"
                    placeholder="Enter the phone"
                    name="phone" 
                    value="<%= student.phone %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateTextField">Gender</label>
                    <input type="text" class="form-control"
                    id="genderTextField"
                    placeholder="Enter the gender"
                    name="gender" 
                    value="<%= student.gender %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateTextField">Semester</label>
                    <input type="text" class="form-control"
                    id="semesterTextField"
                    placeholder="Enter the semester"
                    name="semester" 
                    value="<%= student.semester %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateTextField">Address</label>
                    <input type="text" class="form-control"
                    id="addressTextField"
                    placeholder="Enter the address"
                    name="address" 
                    value="<%= student.address %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateTextField">Birth Date</label>
                    <input type="text" class="form-control"
                    id="birthdateTextField"
                    placeholder="Enter the birth date"
                    name="birthDate" 
                    value="<%= student.birthDate %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateTextField">Course Id</label>
                    <input type="text" class="form-control"
                    id="courseidTextField"
                    placeholder="Enter the course "
                    name="course_id" 
                    value="<%= student.course_id %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/student" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>

<%- include ('../partials/bottom_nav') %>  
  <%- include ('../partials/footer') %>