
 <%- include('../partials/header')  %> 

 <%- include ('../partials/main_nav') %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/course/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a course</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
<<<<<<< Updated upstream
                    <th class="text-center col-3">Course Name</th>
                    <th class="text-center col-2">Course Detail</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <% } else { %>
                    <th class="text-center col-3">Course Name</th>
                    <th class="text-center col-2">Course Detail</th>
=======
                    <th class="text-center col-2">School</th>
                    <th class="text-center col-2">Course Name</th>
                    <th class="text-center col-2">Length</th>
                    <th class="text-center col-2">Credentials</th>
                    <th class="text-center col-2">Location</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <% } else { %>
                    <th class="text-center col-3">School</th>
                    <th class="text-center col-3">Course Name</th>
                    <th class="text-center col-2">Length</th>
                    <th class="text-center col-2">Credentials</th>
                    <th class="text-center col-2">Location</th>  
>>>>>>> Stashed changes
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < CourseList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
<<<<<<< Updated upstream
                        <td class="text-center col-3"><%= CourseList[count].name %></td>
                        <td class="text-center col-2"><%= CourseList[count].detail %></td>
=======
                        <td class="text-center col-2"><%= CourseList[count].school %></td>
                        <td class="text-center col-2"><%= CourseList[count].courseName %></td>
                        <td class="text-center col-2"><%= CourseList[count].length %></td>
                        <td class="text-center col-2"><%= CourseList[count].credentials %></td>
                        <td class="text-center col-2"><%= CourseList[count].location %></td>
>>>>>>> Stashed changes
                        <td class="text-center col-1">
                            <a href="/course/edit/<%= CourseList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/course/delete/<%= CourseList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <% } else { %>
<<<<<<< Updated upstream
                            <td class="text-center col-3"><%= CourseList[count].name %></td>
                            <td class="text-center col-2"><%= CourseList[count].detail %></td>
                        <% } %>
                        </tr>
=======
                        <td class="text-center col-3"><%= CourseList[count].school %></td>
                        <td class="text-center col-3"><%= CourseList[count].courseName %></td>
                        <td class="text-center col-2"><%= CourseList[count].length %></td>
                        <td class="text-center col-2"><%= CourseList[count].credentials %></td>
                        <td class="text-center col-2"><%= CourseList[count].location %></td>    
                        <% } %>
                    </tr>
>>>>>>> Stashed changes
                <% } %>
            </table>
        </div>
    </div>
  </main>

  <%- include ('../partials/bottom_nav') %>  
  <%- include ('../partials/footer') %>
  

  





